
<div style="width:100%; position: relative; float:left; margin-bottom: 30px;">
  <h1 style="margin: 0 auto; width: 170px;">High Score</h1>
</div>

<br/>


<table style="width:100%">
  <tr>
    <th>Position</th>
    <th>Username</th>
    <th>Win</th>
    <th>Lose</th>
    <th>W/L</th>
  </tr>
  <tr>
    <td align="center">1</td>
    <td align="center">banzsolt</td>
    <td align="center">10</td>
    <td align="center">1</td>
    <td align="center">10</td>
  </tr>
  <tr>
    <td align="center">2</td>
    <td align="center">test</td>
    <td align="center">3</td>
    <td align="center">3</td>
    <td align="center">1</td>
  </tr>
  <tr>
    <td align="center">3</td>
    <td align="center">test2</td>
    <td align="center">2</td>
    <td align="center">6</td>
    <td align="center">0.33</td>
  </tr>
  <tr>
    <td align="center">4</td>
    <td align="center">test3</td>
    <td align="center">5</td>
    <td align="center">10</td>
    <td align="center">0.5</td>
  </tr>
</table>