<h1>Access#index</h1>
<p>Find me in app/views/access/index.html.erb</p>


<table data-toggle="table"
       data-url="https://api.github.com/users/wenzhixin/repos?type=owner&sort=full_name&direction=asc&per_page=100&page=1"
       data-sort-name="stargazers_count"
       data-sort-order="desc">
  <thead>
  <tr>
    <th data-field="name"
        data-sortable="true">
      Name
    </th>
    <th data-field="stargazers_count"
        data-sortable="true">
      Stars
    </th>
    <th data-field="forks_count"
        data-sortable="true">
      Forks
    </th>
    <th data-field="description"
        data-sortable="true">
      Description
    </th>
  </tr>
  </thead>
</table>